<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABC Bank</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/login.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">ABC bank</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a th:href="@{/fundTransfer/{id} (id=${accountNumber})}">Fund Transfer</a></li>
            <li class="active"><a href="#">Withdraw</a></li>
            <li><a th:href="@{/deposit/{id} (id=${accountNumber})}">Deposit</a></li>
            <li><a th:href="@{/balance/{id} (id=${accountNumber})}">checkBalance</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="text-center mb-2">
        <h1>Welcome to ABC Bank</h1>
    </div>
    <div class="text-center">
        <span th:text="${message}"/>
    </div>
    <form th:action="@{/withdraw/{id} (id=${accountNumber})}" method="post">

        <div class="form-group mb-2">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" id="amount" name="amount">
        </div>
        <div class="form-group center-text">
            <button class="btn btn-success" type="submit">Withdraw</button>
        </div>
    </form>
</div>

</body>
</html>